.container{
    display: grid;
    width: 80%;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    grid-template-rows: 10% 1fr;
    margin-inline: auto;
    height: 100vh;
    direction: rtl;
    text-align: right;
}

.containerEN{
    direction: ltr;
    text-align: left;
}

.sidebarContainer{
    margin: auto 0;
}

.content{
    margin: auto 0px;
}

@media (max-width: 780px){
    .container{
        grid-template-columns: 1fr;
    }
    .sidebarContainer{
        background-color: #fef8fa;
        display: none;
        position: absolute;
        right: 0px;
        top: 0px;
        min-height: 100vh;
        height: 100%;
        width: min(70%,350px);
    }
    .content{
        padding: 30px 0px;
    }
}