.emailDiv{
    position: relative;
    border: 1px solid transparent;
    margin-top: 10px;
}
.emailInput{
    width: 100%;
    text-align: right;
    padding-right: 15px;
    height: 40px;
    font-size: 20px;
    outline-color: blue;
    margin-top: 8px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 0px;
}
.emailInputEN{
    text-align: left;
    padding-left: 15px;
}
.emailInput:focus::placeholder{
    color: transparent;
}
.emailLabel{
    display: none;
    position: absolute;
    right: 5%;
    top: 0px;
    font-size: 15px;
    background-color: white;
    padding: 0px 5px;
}
.emailLabelEN{
    right: auto;
    left: 5%;
}
.emailInput:focus ~ .emailLabel{
    display: block;
    color: blue;
}
.warning{
    color: white;
    font-size: 13px;
    direction: rtl;
    margin-top: 2px;
    font-weight: 100;
}

@media (max-width: 500px){
    .emailLabel{
        font-size: 12px;
    }
}