.header{
    grid-column: 1 / -1;
    display:grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    text-align: end;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-bottom: 10px;
    direction: ltr;
}



.sidebar{
    display: flex;  
    justify-content: space-between;
}

.words{
    display: flex;
    grid-column-gap: 20px;
    font-weight: 600;
    padding: 0px 30px;
    padding-top: 10px;
}

.words p{
    cursor: pointer;
}

.apple{
    width: 30px;
    border: 1px solid black;
    padding: 2px 5px;
    background-color: white;
    height: 29px;
    cursor: pointer;
}

.play{
    width: 20px; 
    border: 1px solid black;
    background-color: white;
    padding: 6px 8px;
    cursor: pointer;
}

.buttons{
    display: flex;
    grid-column-gap: 10px;
}

.buttons p{
    background-color: white;
    border: 1px solid black;
    padding: 6px 10px;
    height: 21px;
    cursor: pointer;
}

.logo img{
    width: 60px;
    margin-left: 30px;
    cursor: pointer;
}

#sidebarBtn{
    padding: 5px 10px;
    font-size: 30px;
    margin: 5px;
    display: none;
}

.show{
    display: block;
}

@media (max-width: 1000px){
    .header{
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    .headerEN{
        direction:rtl;  
    }
    .words{
        flex-direction: column;
        gap: 20px;
    }
    .buttons{
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        padding: 20px 30px;
    }
    .menuBtn{
        display: block;
    }
    .secondary{
        display: block;
    }
    #sidebarBtn{
        display: block;
    }
    .sidebar{
        position: absolute;
        display: none;
        top: 0px;
        right: 0px;
        width: 60%;
        background-color: #fef8fa;
        height: 100%;
        z-index: 99;
    }
    .headerEN .sidebar{
        right: auto;
        left: 0px;
    }
    .show{
        display: block;
    }
}