*{
    padding:0;
    margin:0;
}
.top{
    background:linear-gradient(rgb(72, 212, 177),#ee8915);
    height:600px;
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;  

}
#sun{
    position:absolute;
    top:50px;
    left:50px; 
    width:150px;
    height:150px;    
}
#bout{
    position:absolute;
    top:350px;
    right:50px; 
    width:500px;
    height:500px;    
}
#birds{
    position:absolute;
    top:100px;
    left:400px; 
    width:500px;
    height:300px;  
}
.main{ 
    background:linear-gradient(rgb(22, 128, 177),rgb(0, 0, 0));
    height:900px;
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
}
#a{
    position:absolute;
    top:450px;
    left:0px; 
    width:200px;
    height:100px;    
}
#faang{
    color:rgb(65, 93, 146);
    position:absolute;
    top:485px;
    left:0px;
    font-size:25px;
}
#b{
   position:absolute;
    top:150px;
    right:0px;  
    height:200px;
    width:400px;
}
#shark{
    color:rgb(91, 130, 180);
    position:absolute;
    top:230px;
    font-size:30px;
}
#c{
    position:absolute;
     top:150px;
     left:100px;  
     height:500px;
     width:350px;
 }
 #hacker{
    color:rgb(72, 100, 141);
    position:absolute;
    left:230px;
    top:250px;
    font-size:30px;
 }
 #d{
    position:absolute;
    bottom:0px;
    left:5%;  
     height:30px;
     width:30px;
     animation:bubble 8s linear infinite; 
 }
 #e{
    position:absolute;
    bottom:0px;
    left:30%;  
     height:25px;
     width:25px;
     animation:bubble 3s linear infinite; 
 }
 #f{
    position:absolute;
     bottom:0px;
     left:50%;  
     height:35px;
     width:35px;
     animation:bubble 6s linear infinite; 
 }
 #g{
    position:absolute;
    bottom:0px;
    left:65%;  
     height:20px;
     width:20px;
     animation:bubble 4s linear infinite; 
 }
 #h{
    position:absolute;
    bottom:0px;
    left:90%;  
     height:50px;
     width:50px;
     animation:bubble 8s linear infinite; 
 }
 .bottom{
    background:rgb(0, 0, 0);
    width:100%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
 }

@keyframes bubble{
    0%{
        transform: translateY();
        opacity:0;
    }
    50%{
        opacity:1;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateY(-130vh);
        opacity:0;
    }
} 
.tabs{
    border:3px solid #002dc0;
    display: flex;
    background:rgb(240, 240, 240);
    width:1000px;
    margin-bottom:70px;
}
.sidebar{
    width:125px;
    flex-shrink:0;
    background: #cccccc;
}
.button{
    display:block;
    padding:25px 15px;
    background:#eeeeee;
    border:none;
    border-right:1px solid #cccccc;
    width:100%;
    outline:none;
    cursor:pointer;
}
.button:hover{
    font-size:14px;
}
.button:active{
    background:#dddddd;
}
.button:not(:last-of-type){
    border-bottom:1px solid #cccccc;
}
.button--active{
    font-weight:bold;
    border-right:4px solid #0003c0;
    background:#dddddd;
}
.content{
    padding:15px;
    font-size:0.8rem;
    display:none;
}
.content--active{
    display:block;
}
.content > :first-child{
    margin-top:0;
}
li{
    font-size:25px;
    margin-left:30px;
    line-height:40px;
}
p{
    font-size:20px;
}
#skill{
    width:100%;
    height:145px;
}
