[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    /*left: -9999px;*/
    opacity: 0;
}
[type=radio]:checked+label, [type=radio]:not(:checked)+label {
    font-weight: 300;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[type=radio]+label:after, [type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}
[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after, [type=radio]:checked+label:before, [type=radio]:not(:checked)+label:after, [type=radio]:not(:checked)+label:before {
    border-radius: 50%}
[type=radio]:not(:checked)+label:after, [type=radio]:not(:checked)+label:before {
    border: 2px solid #5a5a5a;
}
[type=radio]:not(:checked)+label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type=radio]:checked+label:before {
    border: 2px solid transparent;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}
[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after {
    border: 2px solid #398bf7;
}
[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after {
    background-color: #398bf7;
    z-index: 0;
}
[type=radio]:checked+label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
[type=radio].with-gap:checked+label:after {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}
[type=radio].tabbed:focus+label:before {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}
[type=radio].with-gap:disabled:checked+label:before {
    border: 2px solid rgba(0, 0, 0, .26);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}
[type=radio].with-gap:disabled:checked+label:after {
    border: none;
    background-color: rgba(0, 0, 0, .26);
}
[type=radio]:disabled:checked+label:before, [type=radio]:disabled:not(:checked)+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .26);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}
[type=radio]:disabled+label {
    color: rgba(0, 0, 0, .26);
}
[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, .26);
}
[type=radio]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, .26);
    border-color: #BDBDBD;
}
